
body{
    margin: 0;
}

#backgroundWrapper{
    position: relative;
}

#summer{
    position: absolute;
    width: 100%;
    left: 0;
}
.guidance{
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 50px;
    position: absolute;
    font-size: 40px;
    animation: guidanceAppear 10s alternate;
    white-space: nowrap;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    padding: 5px;
    font-family: fantasy;
    padding-top: 10px;
}


@keyframes guidanceAppear {
    from{
        background-color: rgb(30, 67, 55,0);
        color: rgb(30, 67, 55,0);

    }
    to{
        color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 50px;
    }
}
.time{
    position: absolute;
    top: 300px;
    left: 5%;
    font-size: 40px;
    background-color: rgb(30, 67, 55);
    color: azure;
    animation: timeAppear 10s alternate;
    border-radius: 20px;
    padding-left: 600px;
    padding-right: 600px;
    text-align: center;
    white-space: nowrap;



}

@keyframes timeAppear {
    from{
        background-color:rgb(30, 67, 55,0);
        color: rgb(30, 67, 55,0);

    }
    to{
        background-color: rgb(30, 67, 55);
        color: azure;

    }
}

.guidanceContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#guidance2-1{
    position: absolute;
    font-size: 30px;
    top: 500px;
    left: 30%;
    padding-right: 5px;
}
#someone{
    position: absolute;
    font-size: 30px;
    top: 500px;
    left: 48%;
    animation: guidanceAppear 10s, someone 10s forwards;
    animation-delay: 0s,5s;
    padding-left: 5px;
    padding-right: 5px;
}
@keyframes someone{
    from{
        top:500px;
    }
    to{
        top:950px;
    }
}
#guidance2-2{
    position: absolute;
    font-size: 30px;
    top: 500px;
    left: 60%;
    padding-left: 5px;
}