body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    flex-direction: column;
    position:relative;
}
#titleContainer{
    position: relative;
}
#backgroundWrapper{
    position: relative;
}

#backgroundImg{
    position: absolute;
    width: 100%;
    left: 0;
    /* animation: disappear 5s forwards; */
    opacity: 1;
}
/* #backgroundWrapper{
    position: relative;
    width: 100%;
    top: -600px;
}
#backgroundImg{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0s;
    animation: disappear 5s forwards;
    opacity: 1;
} */
@keyframes disappear{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.noStyle{
    text-decoration: none;
    color: inherit;
}

.title{
    font-size: 200px;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    animation: titleAppear 10s alternate;
}

@keyframes titleAppear{
    0%{
        color: rgb(30, 67, 55,0);
    }
    100%{
        color: red;
    }
        
}
.guidance{
    font-size: 35px;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 50px;
    animation: guidanceAppear 10s alternate;
    white-space: nowrap;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 800px;
    margin: auto;
    cursor: pointer;

}

@keyframes guidanceAppear {
    from{
        background-color: rgb(30, 67, 55,0);
        color: rgb(30, 67, 55,0);

    }
    to{
        background-color: white;
        color: rgb(0, 0, 0);
    }
}
