body{
    margin: 0;
    background-color: black;
}

#sceneWrapper{
    position: relative;
    display: flex;
}

#brionyRun{
    position: absolute;
    width: 60%;
    cursor: pointer;
}
#readWrapper{
    top: 200px;
    left: 40%;
    position: absolute;
    display: flex;
    align-items: center;
    opacity: 0;
}
#brionyRead{
    cursor: pointer;

}
.appear{
    animation: appear 1s forwards;
}
/* .appear2{
    animation: appear 1s forwards;
    animation-delay: 3s;
} */

.ImgAppear1{
    animation: appear 1s;
    animation-delay: 3s;
}
.ImgAppear2{
    animation: appear 1s;
    animation-delay: 4s;
}

.ImgAppear3{
    animation: appear 1s ;
    animation-delay: 5s;
}

.ImgAppear4{
    animation: appear 1s forwards;
    animation-delay: 6s;
}


@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.fadeAway{
    animation: fade 1s forwards;
}

.fadeAway2{
    animation: fade 1s forwards;
    animation-duration: 3s;
}

@keyframes fade{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.displayNone{
    display: none;
}
#wrongLetter{
    height: 10%;
}

#ceceliaRead{
    position: relative;
    width: 30%;
    left: 60%;
    /* opacity: 0; */

}

#ceceliaRead img{
    position: absolute;
    width: 100%;
}

#ceceliaRead1{
    opacity:0;
}
#ceceliaRead2{
    opacity: 0;
}#ceceliaRead3{
    opacity: 0;
}#ceceliaRead4{
    opacity: 0;
}

.nextPage{
    position: relative;
    top: 200px;
    left: 75%;
    color:rgb(0, 0, 0);
    font-size: 30px;
    white-space: nowrap;
    background-color: white;
    border:white;
    opacity: 0;
    padding-left: 10px;
    padding-right: 10px;

}

.nextPageAppear{
    animation: buttonAppear 2s forwards,inviteInteraction 2s infinite;
    animation-delay: 10s,9s;
}

@keyframes buttonAppear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes inviteInteraction {
    0%{
        transform: translate(0,0);
    }
    3%{
        transform: translate(-5px,0);
    }
    6%{
        transform: translate(5px,0);
    }
    9%{
        transform: translate(0px,0);
    }
    100%{
        transform: translate(0,0);

    }
}
.noStyle{
    text-decoration: none;
    color: inherit;
}

#line{
    position: relative;
    text-align: left;
    color: rgb(0, 0, 0);
    background-color:  rgb(251, 234, 255);
    border-radius: 50px;
    font-size: 30px;
    top: 200px;
    left: -80%;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding: 5px;
    opacity: 0;
}

.lineAppear{
    animation:buttonAppear 2s 1 forwards;
    animation-delay: 8s;
}

@keyframes wordsAppearC{
    0%{
        background-color: rgba(255, 255, 255, 0);
        color: rgba(0, 0, 0, 0);
    }
    50%{
        background-color: rgba(255, 255, 255, 0);
        color: rgba(0, 0, 0, 0);
    }
    100%{
        color: black;
    }
}
