body{
    margin:0;
    background-color: beige;
}






#backgroundImg{
    width: 100%;
    margin-bottom: 200px;
}


#innerWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

}



#choice{
    display: flex;
    gap: 10px;
    width: 100%;    
    margin-bottom: 100px;
    top: 500px;
    justify-content: space-evenly;
}

#choice1{
    white-space: noWrap;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(214, 254, 255);
    font-family:sans-serif;
    font-family: monospace;
}


#choice2{
    white-space: noWrap;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(214, 255, 224);
    font-family: monospace;

}

.noStyle{
    text-decoration: none;
    color: inherit;
}

